# Dependencies
__pycache__/
*.pyc
.next
node_modules
dist
/target/
**/*.rs.bk

#IDE
.vscode

# Logs
.log

# Environments
*.env
*venv*
system.yaml

# Temp
docker-compose.yaml

# OSX
.DS_Store

# IP
proprietary.*
